@model AccountActivationModel
@using Nop.Web.Models.Customer;
@using Nop.Web.Framework.UI;
<!--BUGFIX 3.803-->
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    <!--NOP 3.825-->
    Html.AddTitleParts(T("PageTitle.ValidatePhone").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-activation-page");
}
<div class="page account-activation-page">
    <div class="page-title">
        <!--NOP 3.825-->
        <h1>@T("Account.ValidatePhone.Validated.Header")</h1>
    </div>
    <div class="page-body">
        <div class="result">
            @Model.Result
        </div>
     
    </div>
</div>
@*BUGFIX 3.811*@
<script type="text/javascript">
    setTimeout(function () {
        var url = "/" + "@Model.CustomProperties["Referrer"]";
        window.location.href = url;
    }, 1000);
</script>