@model SMSNotificationRecordModel
@using Nop.Web.Models.Customer;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
 <!--BUGFIX 3.803-->
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}
@using (Html.BeginForm("AccountActivation", "SMSNotification", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="page registration-result-page">
        <div class="page-title">
            <h1>@T("Account.Register")</h1>
        </div>
        <div class="page-body">
            <div class="result">
                Please approve your SMS code
            </div>
            <div class="result">
                <input type="text" name="token" id="token" />
</div>

<div class="buttons">
                <input type="submit" name="register-continue" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")"/>
            </div>
        </div>
    </div>
}