@model SMSNotificationRecordModel
@using Nop.Web.Models.Customer;
@using Nop.Web.Framework.UI;
@using Nop.Web.Framework;
 <!--BUGFIX 3.803-->
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
     <!--NOP 3.825-->
    Html.AddTitleParts(T("PageTitle.ValidatePhone").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-result-page");
}
@using (Html.BeginForm("AccountActivation", "SMSNotification", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="page registration-result-page">
        <div class="page-title">
            <!--NOP 3.825-->
            <h1>@T("Account.ValidatePhone.Approve")</h1>
        </div>
        <div class="page-body">
            <div class="result">
                <!--NOP 3.825-->
                @T("Account.ValidatePhone.PleaseApprove")
            </div>
            <div class="result">
                <input type="text" name="token" id="token" />
</div>

<div class="buttons">
                <input type="submit" name="register-continue" class="button-1 register-continue-button" value="@T("Account.Register.Result.Continue")"/>
            </div>
        </div>
    </div>
}