@model AccountActivationModel
@using Nop.Web.Models.Customer;
@using Nop.Web.Framework.UI;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-activation-page");
}
<div class="page account-activation-page">
    <div class="page-title">
        <h1>@T("Account.AccountActivation")</h1>
    </div>
    <div class="page-body">
        <div class="result">
            @Model.Result
        </div>
        <!--NOP 3.821-->
        <div class="result">
            You will be redirected to login page in 5 seconds
        </div>
        <!--NOP 3.821-->
    </div>
</div>
<!--NOP 3.821-->
<script type="text/javascript">
    setTimeout(function () {
        window.location.href = "/Login";
    }, 5000);
</script>
<!--NOP 3.821-->